//@import '~vuetify/src/styles/tools/_functions.sass';
//@import '~vuetify/src/styles/settings/_variables.scss';

$body-font-family: 'Open Sans';
$heading-font-family: 'Gin', 'sans-serif';
$border-radius-root: 5px;

.v-btn{
  font-weight: 400;
}

//@import '~vuetify/src/styles/styles.sass';